:root {
  --background-color: #f9f9f9;
  --text-color: #021526;
  --heading-color: #03346E;
  --button-background: #03346E;
  --button-text: #fff;
}

.dark-mode {
  --background-color: #021526;
  --text-color: #E2E2B6;
  --heading-color: #6EACDA;
  --button-background: #6EACDA;
  --button-text: #021526;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
